<div layout="row" layout-sm="column" layout-fill layout-wrap>
	<md-card ng-repeat="workshop in workshops" ng-class-odd="'card-margin'"
					 class="md-whiteframe-z2" layout-padding flex-md="95" flex-sm="95" flex="45">
		<md-card-content>
			<md-toolbar layout="row">
				<div class="md-toolbar-tools">
					<span flex></span>
					<h1>{{workshop.name}}</h1>
					<span flex></span>
				</div>
			</md-toolbar>
			<h4>Imparte: {{workshop.dr}}</h4>
			<h5>{{workshop.day}} a las {{workshop.time}}</h5>
			<h5>Registrados: {{workshop.current}} / {{workshop.total}}</h5>
			<div>
				<span>Objetivo:</span>
				<md-button class="md-primary md-flat material pull-right"
									 ng-click="showMaterial($index, $event)">
									 Material
				</md-button>
			</div>
			<p>{{workshop.description}}</p>
			<md-divider></md-divider>
			<div layout="row" layout-fill layout-wrap>
				<md-button class="md-primary md-raised" ng-click="showStudentsList($index, $event)" flex>Ver lista</md-button>
				<md-button ng-if="workshop.available" 
				class="md-primary md-raised" ng-click="showRegistration($index, $event)" flex>Regístrate</md-button>
			</div>
		</md-card-content>
	</md-card>
</div>