<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
	<md-toolbar class="md-theme-indigo">
		<h1 class="md-toolbar-tools">Selecciona tu semestre</h1>
	</md-toolbar>
	<md-content layout-padding>
		<md-list>
			<md-list-item>
				<a href="" class="semester-link">
					<h3>1er Semestre</h3>
				</a>
			</md-list-item>
			<md-list-item>
				<a href="" class="semester-link">
					<h3>3er Semestre</h3>
				</a>
			</md-list-item>
			<md-list-item>
				<a href="" class="semester-link">
					<h3>5to Semestre</h3>
				</a>
			</md-list-item>
		</md-list>
	</md-content>
</md-sidenav>

<div flex>
	
</div>
<div flex="30">
	<img id="logo" src="img/logo.jpg" alt="Logotipo">
</div>