<md-dialog flex="50" flex-md="75" flex-sm="90" aria-label="Lista de material necesario">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Material necesario para el taller</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-list>
      <md-list-item ng-if="material.length === 0">
        <p>No se necesita material para este taller</p>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item ng-repeat="mat in material">
        <p>{{mat.name}}</p>
      <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button class="md-primary md-raised" ng-click="dismissDialog()">Aceptar</md-button>
    <span flex></span>
  </div>
</md-dialog>