<md-dialog flex="50" flex-md="75" flex-sm="90" aria-label="Alumnos ya registrados">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Alumnos ya registrados</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-list>
      <md-list-item ng-if="studentsList.length === 0">
        <p class="center-text">No hay alumnos registrados...</p>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item ng-repeat="student in studentsList" class="capitalize">
        <p>{{student.name.toLowerCase()}}</p>
      <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button class="md-primary md-raised" ng-click="dismissDialog()">Aceptar</md-button>
    <span flex></span>
  </div>
</md-dialog>