<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Lunes y Martes">
		<md-content class="md-padding">
			<h1 class="md-display-1">Lista de talleres</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
				vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
				felis nec, feugiat ultricies mi.</p>
		</md-content>
	</md-tab>
	<md-tab label="Miércoles y Jueves">
		<md-content class="md-padding">
			<h1 class="md-display-1">Lista de talleres</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
				vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
				felis nec, feugiat ultricies mi.</p>
		</md-content>
	</md-tab>
</md-tabs>