.home-title{
	background: #ED417B;
	color: #FFF;
}

md-card{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

md-dialog{
	max-width: 100%;
}

@media(min-width: 1200px){
	.card-margin{
		margin-right: 8%;
	}
}

@media(max-width: 959px){
	.card-margin{
		margin-right: 6%;
	}
}

@media(max-width: 616px){
	.card-margin{
		margin-right: 5%;
	}
}

@media(max-width: 599px){
	.card-margin{
		margin-right: 8px;
	}
}

.md-toolbar-tools {
	max-height: 400px;
	height: auto;
	padding: 16px;
}

span.limit{
	font-size: 14px;
	font-weight: 700;
}

.pull-right {
	float: right;
}

.material{
	position: relative;
	top: -15px;
}