.home-title{
	background: rgb(172,115,72);
	color: #FFF;
}

.md-theme-indigo {
	background: rgb(172,115,72) !important;
}

.md-theme-indigo h1 {
	color: #FFF;
}

md-toolbar.md-default-theme {
	background: rgb(244, 173, 119);
	color: #000;
}

button.md-default-theme.md-raised {
	background: rgb(20, 128, 66) !important;
}

button.md-default-theme.md-flat {
	color: rgb(20, 128, 66) !important;
}

md-input-container:not(.md-input-invalid).md-input-focused.md-input {
	border-color: rgb(20, 128, 66);
}

md-input-container:not(.md-input-invalid).md-input-focused label {
	color: rgb(20, 128, 66);
}

md-tabs md-ink-bar {
    color: rgb(20, 128, 66);
    background: rgb(20, 128, 66);
}

#logo{
	width: 100%;
}

.semester-link {
	color: rgb(20, 128, 66);
	text-decoration: none;
}

md-card{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

md-dialog{
	max-width: 100%;
}

@media(min-width: 1200px){
	.card-margin{
		margin-right: 8%;
	}
}

@media(max-width: 959px){
	.card-margin{
		margin-right: 6%;
	}
}

@media(max-width: 616px){
	.card-margin{
		margin-right: 5%;
	}
}

@media(max-width: 599px){
	.card-margin{
		margin-right: 8px;
	}
}

.md-toolbar-tools {
	max-height: 400px;
	height: auto;
	padding: 16px;
}

span.limit{
	font-size: 14px;
	font-weight: 700;
}

.pull-right {
	float: right;
}

.material{
	position: relative;
	top: -15px;
}

.center-text{
	text-align: center;
}

md-input-container label, md-input-container .md-placeholder{
	color: #777;
}

.with-lines{
	white-space: pre-line;
}

.important{
	font-weight: bold;
}

#lista {
	width:88%;
	margin: auto;
	font-size:14px;
	line-height: 20px;
}

.capitalize{
	text-transform: capitalize;
}

#lista .label{
	font-weight: bold;
	margin-right: 3px;
}

#lista .text-right {
	text-align: right;
}

#list-heading {
	margin-top: 10px;
	font-weight: bold;
	border-bottom: 2px solid black;
}

.list-border:nth-child(2), .list-border:nth-child(3), .list-border:nth-child(4){
	border-left: 1px solid black
}

.student-name {
	box-sizing: border-box;
	padding-left: 10px;
}

#print-button {
	position:absolute;
	top: 88%;
	left:94%
}

@media print
{    
	.no-print, .no-print *
	{
		display: none !important;
	}
	@page { size: landscape; }
}